.example-spacer {
    flex: 1 1 auto;
  }

  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1175px;
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  .logo-img{
    height: 36px;
    margin-top: 5px;
}
.logo-text{
  margin-left: 9px;
}